@import '../modules/color/contrast-color';
@import '../modules/color/theme-colors';

// .btn may apply to elements other than <button>, but must be styled the same
.btn {
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	display: inline-block;
	padding: 0.5em;
	border: thin hidden;
	border-radius: 0.2em;
	cursor: pointer;
}

// .btn corresponding to global themes
@each $style, $color in $theme-colors {
	.btn.btn-#{$style} {
		background-color : $color;
		color : contrast-color($color);

		&:hover {
			background-color: darken($color, 10%);
		}
		&:active {
			background-color: darken($color, 20%);
			outline: thin solid $color;
		}
	}
}

.btn[disabled] {
	opacity: .65;
	pointer-events: none;
}


// .btn made to look like link - overrides .btn
.btn.btn-link {
	background: none;
	color: blue;
	border: none;
	padding: 0;
	font: inherit;
	font-weight: normal;
	text-decoration: none;

	&:hover {
		text-decoration-line: underline;
	}
}
