.dropdown-menu {
	display: none;
	position: absolute;
	top: 1.2em;
	min-width: 100%;
	border: thin solid green;

	box-sizing: border-box;
	background-color: black;
	color: green;
	padding: 0;
	margin: 0;
}

ul.dropdown-menu, ol.dropdown-menu {
	list-style: none;
}

.dropdown:hover > .dropdown-menu, .dropdown-menu:hover {
	display: block;
	z-index: 1;
}