@import '../center';
@import 'grid-margin';

@mixin col($col-count) {
	$width: calc(#{($col-count / 12 * 100%)} - #{$margin-size * 2});

	flex : 0 0 $width;
	max-width: $width;
	display: flex;
	justify-content: center;
	@include grid-margin;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		@include col($i);
	}
}