@import '../contrast-color';

// .btn may apply to elements other than <button>
.btn {
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	display: inline-block;
	padding: 0.5em;
	border: thin hidden;
	border-radius: 0.2em;
	cursor: pointer;
}

// buttons corresponding to global themes
@each $style, $color in $theme-colors {
	.btn.btn-#{$style} {
		background-color : $color;
		color : contrast-color($color)
	}
}

// .btn made to look like link - overrides .btn
.btn.btn-link {
	background: none;
	color: blue;
	border: none;
	padding: 0;
	font: inherit;
	font-weight: normal;
	text-decoration: none;

	&:hover {
		text-decoration-line: underline;
	}
}
